* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hr__line {
  border: none;
  border-top: 2px solid #000;
  width: 82%;
  margin: 2.5rem auto;
}
@media (min-width: 1024px) {
  .hr__line {
    width: 88%;
  }
}

ul {
  font-family: "Poppins", sans-serif;
  list-style: none;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 0.85em;
  line-height: 1.2em;
}

h2, h3, h4 {
  font-family: "Kaisei Decol", sans-serif;
}

legend, label {
  font-family: "Poppins", sans-serif;
  font-size: 0.85em;
}

.header {
  text-align: center;
  padding: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.507);
}
@media (min-width: 768px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    padding: 15px 50px;
  }
}
@media (min-width: 768px) {
  .header__nav {
    padding-top: 20px;
  }
}
.header__list {
  line-height: 1.8em;
}
@media (min-width: 768px) {
  .header__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
  }
}
.header__link {
  color: #000000;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
}
@media (min-width: 768px) {
  .header__link {
    font-size: 0.85em;
  }
}
.header__link:hover {
  color: #AB864C;
}
.header--clr {
  color: #AB864C;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("/images/haute-couture-2.jpg");
  background-size: cover;
  background-position: center;
  height: 310px;
}
.hero__title {
  font-family: "Kaisei Decol", sans-serif;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.85);
  width: 80%;
  margin: 0 auto;
  padding: 25px;
  line-height: 40px;
}
@media (min-width: 768px) {
  .hero__title {
    font-size: 2.6em;
    height: 200px;
    padding: 50px;
    line-height: 50px;
  }
}
.hero__span {
  display: block;
}

.savoirfaire {
  text-align: center;
}
.savoirfaire__title {
  font-size: 1.3em;
  padding: 10px;
  margin: 50px 0;
}
.savoirfaire__span {
  display: block;
  font-size: 0.6em;
  margin-top: 7px;
}
.savoirfaire__descrip {
  border: 1px black solid;
  padding: 18px;
  margin: 50px auto 60px auto;
}
@media (min-width: 768px) {
  .savoirfaire__descrip {
    margin: 50px 60px;
    padding: 18px 100px;
  }
}
@media (min-width: 768px) and (min-width: 1024px) {
  .savoirfaire__descrip {
    width: 640px;
    margin: 0 auto 60px auto;
    padding: 25px 50px;
    font-size: 1em;
  }
}

.patisseries {
  background-color: #AB864C;
  text-align: center;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 35px;
  height: 1850px;
}
@media (min-width: 768px) {
  .patisseries {
    height: 1550px;
  }
}
@media (min-width: 768px) and (min-width: 1024px) {
  .patisseries {
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
  }
}
.patisseries__hdtitle {
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .patisseries__hdtitle {
    margin-bottom: 15px;
  }
}
.patisseries__globalitem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
}
@media (min-width: 1024px) {
  .patisseries__globalitem {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 120px;
  }
}
.patisseries__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}
.patisseries__img {
  width: 70vw;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .patisseries__img {
    width: 30vw;
  }
}
@media (min-width: 768px) and (min-width: 1024px) {
  .patisseries__img {
    width: 18vw;
  }
}
.patisseries__descrip {
  padding: 15px;
}
@media (min-width: 768px) {
  .patisseries__descrip {
    padding: 0 92px;
  }
}
@media (min-width: 768px) and (min-width: 1024px) {
  .patisseries__descrip {
    padding: 0;
  }
}
.patisseries__btn {
  border: none;
  background-color: #AB864C;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  padding: 10px;
  width: 90%;
  margin: 0 auto;
  border: 1px white solid;
}
@media (min-width: 768px) {
  .patisseries__btn {
    width: 43%;
  }
}
@media (min-width: 768px) and (min-width: 1024px) {
  .patisseries__btn {
    width: 34%;
  }
}

.story {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  margin: 50px 0 80px 0;
  padding: 16px;
}
@media (min-width: 768px) {
  .story {
    padding: 25px;
  }
}
@media (min-width: 768px) and (min-width: 1024px) {
  .story {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 35px 86px 35px 86px;
  }
}
.story__badge {
  width: 50%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .story__badge {
    width: 40%;
  }
}
@media (min-width: 768px) and (min-width: 1024px) {
  .story__badge {
    width: 30vw;
  }
}
.story__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
@media (min-width: 1024px) {
  .story__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 100px 20px 0;
  }
}
.story__guill {
  display: block;
  width: 9%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .story__guill {
    width: 5%;
    margin: 0;
  }
}
@media (min-width: 768px) and (min-width: 1024px) {
  .story__guill {
    width: 4%;
  }
}
.story__title {
  font-size: 2em;
}
@media (min-width: 768px) {
  .story__title {
    text-align: left;
  }
}
@media (min-width: 768px) and (min-width: 1024px) {
  .story__title {
    font-size: 1.3em;
  }
}
.story__span {
  position: relative;
  top: 6px;
}
.story__descrip {
  text-align: left;
}
@media (min-width: 1024px) {
  .story__descrip {
    width: 520px;
    font-size: 0.7em;
  }
}
.story__btn {
  border: none;
  background-color: #AB864C;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  padding: 10px;
  width: 110px;
}

.contact {
  padding: 0 16px 30px 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
@media (min-width: 768px) {
  .contact {
    padding: 16px 25px;
    margin-bottom: 80px;
  }
}
@media (min-width: 768px) and (min-width: 1024px) {
  .contact {
    padding: 16px 86px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
  }
}
@media (min-width: 1024px) {
  .contact__question {
    width: 50%;
  }
}
.contact__title {
  font-size: 1.3em;
  margin: 0 auto;
  padding: 0 30px 30px 30px;
  text-align: center;
}
@media (min-width: 768px) {
  .contact__title {
    text-align: left;
    width: 600px;
    margin: 20px 0;
    padding: 0;
    line-height: 1.2em;
  }
}
.contact__formulaire {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.contact__identity {
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 1024px) {
  .contact__identity {
    width: 50%;
  }
}
.contact__fields {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 7px;
}
.contact__underfields {
  display: flex;
  flex-direction: column-reverse;
}
.contact__label {
  font-size: 0.6em;
}
.contact__champs1 {
  width: 165px;
  height: 25px;
}
@media (min-width: 768px) {
  .contact__champs1 {
    width: 355px;
  }
}
@media (min-width: 768px) and (min-width: 1024px) {
  .contact__champs1 {
    width: 200px;
  }
}
.contact__email {
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 768px) {
  .contact__email {
    width: 717px;
  }
}
@media (min-width: 1024px) {
  .contact__champs2 {
    width: 407px;
  }
}
.contact__message {
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 1024px) {
  .contact__champs3 {
    width: 407px;
  }
}
.contact__confidentiality {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.contact__checkbox {
  width: 230px;
}
@media (min-width: 768px) {
  .contact__checkbox {
    width: 540px;
  }
}
.contact__btn {
  border: none;
  background-color: #AB864C;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  padding: 10px;
}
@media (min-width: 1024px) {
  .contact__btn {
    width: 407px;
  }
}

.map {
  background-color: #AB864C;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  color: #ffffff;
}
.map__titre {
  font-size: 1.9em;
  margin-top: 30px;
}
@media (min-width: 768px) {
  .map__titre {
    font-size: 2.9em;
  }
}
.map__span {
  display: block;
}
.map__iframe {
  width: 100%;
  height: 350px;
}

.footer {
  background-color: #000000;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 768px) {
  .footer {
    font-size: 0.7em;
  }
}
.footer__block1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 70px;
  gap: 20px;
}
@media (min-width: 768px) {
  .footer__block1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    padding: 50px 30px;
    gap: 20px;
  }
}
.footer__logo {
  width: 50%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .footer__logo {
    width: 13%;
  }
}
.footer__list {
  line-height: 1.2em;
  text-align: left;
  margin-left: 40px;
}
@media (min-width: 768px) {
  .footer__list {
    margin: 0;
  }
}
.footer__link {
  color: #ffffff;
  text-decoration: none;
}
.footer--clr {
  color: #AB864C;
}
.footer__blocka {
  text-align: left;
  padding-left: 35px;
}
.footer__span {
  display: block;
  line-height: 0.6em;
}
.footer__blockb {
  text-align: left;
}
.footer__logors {
  width: 30px;
  fill: white;
}
.footer__mentions {
  border: 1px solid #AB864C;
  font-size: 0.85em;
  padding: 12px;
  line-height: 2em;
}
@media (min-width: 768px) {
  .footer__mentions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
  }
}

/*# sourceMappingURL=main.css.map */
