@use '../abstracts/variables' as *;

.contact {
    padding: 0 16px 30px 16px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media(min-width: 768px) {
        padding: 16px 25px 16px 25px;
        margin-bottom: 80px;

        @media(min-width: 1024px) {
            padding: 16px 86px 16px 86px;
            flex-direction: row;
        }
    }

    &__question {
        @media(min-width: 1024px) {
            width: 50%;
        }
    }

    &__title {
        font-size: 1.3em;
        margin: 0 auto;
        padding: 0 30px 30px 30px;
        text-align: center;
        font-family: $font-kaisei;

        @media(min-width: 768px) {
            text-align: left;
            width: 600px;
            margin: 20px 0 20px 0;
            padding: 0;
        }
    }

    &__descrip {
        font-family: $font-pop;
        font-size: 0.85em;
        line-height: 1.2em;
    }

    &__formulaire {
        display: flex;
        flex-direction: column;
        gap: 20px;

        @media(min-width: 1024px) {}
    }

    &__identity {
        border: none;
        display: flex;
        flex-direction: column;

        @media(min-width: 1024px) {
            width: 50%;
        }
    }

    &__legend {
        font-family: $font-pop;
        font-size: 0.85em;
    }

    &__fields {
        display: flex;
        gap: 7px;
    }

    &__underfields {
        display: flex;
        flex-direction: column-reverse;
    }

    &__label {
        font-family: $font-pop;
        font-size: 0.6em;
    }

    &__champs1 {
        width: 165px;
        height: 25px;

        @media(min-width: 768px) {
            width: 355px;

            @media(min-width: 1024px) {
                width: 200px;
            }
        }
    }

    &__email {
        border: none;
        display: flex;
        flex-direction: column;

        @media(min-width: 768px) {
            width: 717px;
        }
    }

    &__champs2 {
         @media(min-width: 1024px) {
                width: 407px;
            }
    }

    &__message {
        border: none;
        display: flex;
        flex-direction: column;
    }

    &__champs3 {
         @media(min-width: 1024px) {
                width: 407px;
            }
    }

    &__confidentiality {
        display: flex;
        gap: 5px;
    }

    &__checkbox {
        font-family: $font-pop;
        font-size: 0.85em;
        width: 230px;

        @media(min-width: 768px) {
            width: 540px;
        }
    }

    &__btn {
        border: none;
        color: $color-w;
        font-family: $font-pop;
        background-color: $bgcolor;
        padding: 8px;

         @media(min-width: 1024px) {
                width: 407px;
            }
    }
}