// =================================================================
// import du fichier scss de variable pour utilisation des variables
// =================================================================
@use '../abstracts/variables' as *;

.hero {
    display: flex; //passage en display flex de la structure section/h1 pour manipuler le h1 
    //   justify-content: center;                                //centrage horizontale du h1
    align-items: center;
    background-image: url('/images/haute-couture-2.jpg');
    background-size: cover;
    background-position: center;
    height: 310px;

    &__title {
        font-family: $font-kaisei;
        text-align: center;
        background-color: $color-w;
        width: 290px;
        margin: 0 auto;
        padding: 25px;
        line-height: 40px;

        &__span {
            display: block;
        }
    }
}