// =================================================================
// import du fichier scss de variable pour utilisation des variables
// =================================================================
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.hero {
    @include flexcol;
    background-image: url('/images/haute-couture-2.jpg');
    background-size: cover;
    background-position: center;
    height: 310px;

    &__title {
        font-family: $font-kaisei;
        text-align: center;
        background-color: rgba($color-w, 0.85);
        width: 80%;
        margin: 0 auto;
        padding: 25px;
        line-height: 40px;

        @media (min-width: 768px) {
            font-size: 2.6em;
            height: 200px;
            padding: 50px;
            line-height: 50px;
        }
    }

    &__span {
        display: block;
    }
}