@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.map {
    background-color: $bgcolor;
    text-align: center;
    @include flexcol;
    gap: 30px;
    color: $color-w;

    &__titre {
        font-family: $font-kaisei;
        font-size: 1.9em;
        margin-top: 30px;  
        
        @media(min-width: 768px) {
            font-size: 2.9em;
        }
    }

    &__adresse {
        font-family: $font-pop;
        font-size: 0.9em;    
    }

    &__span {
        display: block;
    }

    &__iframe {
        width: 100%;
        height: 350px;
        }
}