@use '../abstracts/variables' as *;

.patisseries {
    background-color: $bgcolor;
    text-align: center;
    color: $color-w;
    font-family: $font-kaisei;
    display: flex;
    flex-direction: column;   
    justify-content: center; 
    gap: 35px;
    height: 2040px;

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
    }

    &__hdtitle {
        padding-top: 50px;
    }

    &__img {
        width: 70%;
        margin: 0 auto;
    }

    &__descrip {
        font-family: $font-pop;
        font-size: 0.9em;
        padding: 15px;
        line-height: 1.2em;
    }

    &__btn {
        font-family: $font-pop;
        color: $color-w;
        width: 90%;
        margin: 0 auto;
        background: none;
        border: 1px white solid;
        padding: 10px;        
    }
}