@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
@use '../base/base' as *;

.patisseries {
    background-color: $bgcolor;
    text-align: center;
    color: $color-w;
    @include flexcol;
    gap: 35px;
    height: 1850px;

    @media (min-width: 768px) {
        height: 1550px;

        @media (min-width: 1024px) {
            height: 700px;
            @include flexcol;
            gap: 40px;
        }
    }

    &__hdtitle {
        margin-bottom: 35px;

        @media(min-width: 768px) {
            margin-bottom: 15px;
        }
    }

    &__globalitem {
        @include flexcol;
        gap: 25px;

        @media(min-width: 1024px) {
            @include flexrow;
            padding: 0 120px;
        }
    }

    &__item {
        @include flexcol;
        gap: 50px;

        @media(min-width: 1024px) {}
    }

    &__img {
        width: 70vw;
        margin: 0 auto;

        @media (min-width: 768px) {
            width: 30vw;

            @media (min-width: 1024px) {
                width: 18vw;
            }
        }
    }

    &__descrip {    
        padding: 15px;

        @media (min-width: 768px) {
            padding: 0 92px;

            @media (min-width: 1024px) {
                padding: 0;
               }
        }
    }

    &__btn {
        @include btn;
        width: 90%;
        margin: 0 auto;
        border: 1px white solid;


        @media (min-width: 768px) {
            width: 43%;

            @media (min-width: 1024px) {
                width: 34%;
            }
        }
    }

}