@use '../abstracts/variables' as *;

.patisseries {
    background-color: $bgcolor;
    text-align: center;
    color: $color-w;
    font-family: $font-kaisei;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 35px;
    height: 1900px;

    @media (min-width: 768px) {
        height: 1550px;
    }   

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
    }

    &__img {
        width: 70vw;
        margin: 0 auto;

        @media (min-width: 768px) {
            width: 30vw;
        }
    }

    &__descrip {
        font-family: $font-pop;
        font-size: 0.9em;
        padding: 15px;
        line-height: 1.2em;

        @media (min-width: 768px) {
                padding: 0 92px 0 92px;
            }
    }

    &__btn {
        font-family: $font-pop;
        color: $color-w;
        width: 90%;
        margin: 0 auto;
        background: none;
        border: 1px white solid;
        padding: 10px;
    }
}