@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
@use '../base/base' as *;

.savoirfaire {
    display: block;
    text-align: center;

    &__title {
        font-size: 1.3em;
        padding: 10px;
        margin: 50px 0;
    }

    &__span {
        display: block;
        font-size: 0.6em;
        margin-top: 7px;
    }

    &__descrip {
        border: 1px black solid;
        padding: 18px;
        margin: 50px auto 60px auto;


        @media (min-width: 768px) {
            margin: 50px auto 60px auto;
            padding: 18px 120px;

            @media(min-width: 1024px) {
                width: 640px;
                margin: 0 auto 60px auto;
                padding: 25px 50px;
                font-size: 1em;
            }
        }
    }
}