@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.footer {
    background-color: $color-bl;
    color: $color-w;
    font-family: $font-pop;
    text-align: center;
    @include flexcol;

    @media(min-width: 768px) {
        font-size: 0.7em;
    }

    &__block1 {
        @include flexcol;
        padding: 70px;
        gap: 20px;

        @media(min-width: 768px) {
            @include flexrow;
            justify-content: space-around;
            padding: 50px 30px 50px 30px;
            gap: 20px;
        }
    }

    &__logo {
        width: 50%;
        margin: 0 auto;

        @media(min-width: 768px) {
            width: 13%;
        }
    }

    &__list {
        list-style: none;
        line-height: 1.2em;
        text-align: left;
        margin-left: 40px;

        @media(min-width: 768px) {
            margin: 0;
        }
    }

    &__link {
        color: $color-w;
        text-decoration: none;
    }

    &--clr {
        color: $color-gold;
    }

    &__blocka {
        text-align: left;
        padding-left: 35px;
    }

    &__span {
        display: block;
        line-height: 0.6em;
    }

    &__blockb {
        text-align: left;
    }

    &__logors {
        width: 30px;
        fill: white;
    }

    &__mentions {
        border: 1px solid $color-gold;
        font-size: 0.85em;
        padding: 12px;
        line-height: 2em;
    }

    &__mentions {
        @media(min-width: 768px) {
            @include flexrow;
            gap: 30px;
        }
    }
}