// =================================================================
// import des fichier scss contenant : 
//     - les variables
//     - les mixins
//     - les éléments de base
// =================================================================
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
@use '../base/base' as *;


.header {
    text-align: center;                                                     //alignement de tous les éléments  
    padding: 15px;                                                          //insertion d'un espacement de 15px entre le contenu et la bordure de la section header
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.507);                          //mise en place d'une petite ombre stylisée sous le header débordant sur le hero

    @media (min-width: 768px) {                                             //media query : toutes les modifications suivantes s'effectueront dès lors que nous sommes sur un écran de largeur mini 768px (format tablette)
        @include flexrow;                                                   //utilisation mixin pour : passage en display Flex row des éléments du header => logo + nav
        justify-content: space-between;                                     //espacement en space-between entre les 2 éléments <img> et <nav>
        padding: 15px 50px;                                                 //espacement entre le contenu et sa bordure de 15px en haut et en bas et 50px à gauche et à droite
    }

    &__nav {
        @media (min-width: 768px) {                                         //media query : toutes les modifications suivantes s'effectueront dès lors que nous sommes sur un écran de largeur mini 768px (format tablette)
            padding-top: 20px;                                              //ajout d'un espace de 20px entre le contenu du nav et sa bordure haute afin de centrer les liens horizontalement
        }
    }


    &__list {                                                               
        line-height: 1.8em;                                                 //en affiche inférieur à 768px, le nav est aligné en colonne, un espacement de 1.8em (1.8 fois la taille de l'élément parent) est appliqué entre les liens. 

        @media (min-width: 768px) {                                         //media query : toutes les modifications suivantes s'effectueront dès lors que nous sommes sur un écran de largeur mini 768px (format tablette)
            @include flexrow;                                               //utilisation mixin pour : passage en display Flex row (en ligne) des éléments du nav => list de lien
            gap: 15px;                                                      //espacement de 15px appliqué entre chaque lien
        }
    }

    &__link {
        color: $color-bl;                                                   //choix de la couleur de la police des liens
        font-weight: 600;                                                   //ajout d'un effet "gras" sur les lettres de la police
        text-transform: uppercase;                                          //mise en majuscule de la police d'écriture des liens hypertexte
        text-decoration: none;                                              //retrait des underlines des liens hypertextes

        @media (min-width: 768px) {                                         //media query : toutes les modifications suivantes s'effectueront dès lors que nous sommes sur un écran de largeur mini 768px (format tablette)
            font-size: 0.85em;                                              //réglage de la taille de la police des liens à 0.85 fois l'élément parent lorsqu'on est en afffichage tablette minimum (mini : 768px)
        }

        &:hover {                                                           //paramètres lors du survol de la souris sur un lien
            color: $color-gold;                                             //au survol de la souris sur un lien, passage en couleur gold
        }
    }

    &--clr {                                                                //méthode BEM, modification de la couleur d'un seul des liens portant déjà une classe commune avec ses collègues
        color: $color-gold;
    }
}