@use '../abstracts/variables' as *;

@mixin flexrow {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@mixin flexcol {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@mixin btn {
    border: none;
    background-color: $bgcolor;
    color: $color-w;
    font-family: $font-pop;
    padding: 10px;
}